.filter-locations {
  background: $grey-3;
  margin-bottom: 40px;
  padding: 20px;

  .heading-medium {
    margin-top: 0;
  }

  .bold-small {
    margin-bottom: 10px;
  }

  .button {
    margin-top: 20px;
  }

  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .multiple-choice [type=checkbox] + label::before {
    background: $white;
  }
}
