// Import GOV.UK frontend toolkit
@import "govuk-elements";
@import "location_page";

// Override table font size
table {
  margin-bottom: 20px;
}

table td,
table th {
  font-size: 16px;
}

blockquote {
  padding: 0 0 0 20px;
  margin: 0;
  border: 0;

  @include media(tablet) {
    margin:0 0 0 -30px;
  }

  p {
    padding-left: 15px;

    @include media(tablet) {
      padding-left: 30px;
    }

    &:first-of-type:before {
      content: "\201C";
      float: left;
      clear: both;
      margin-left: -15px
    }

    &:last-of-type:after {
      content: "\201D"
    }
  }

  cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin: -10px 0 20px 30px;
  }
}

strong {
  font-weight: bold;
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

img {
  max-width: 100%;
}

.image-right {
  float: right;
}

.inline-link {
  background: none;
  border: none;
  color: $govuk-blue;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  vertical-align: top;
  -webkit-appearance: none;
}

.form-control.disabled {
  border-color: $grey-2;
  color: $grey-2;
}

.container {
  @extend %site-width-container;
}

.home-page #global-header-bar {
  display: none;
}

// pages styling
.product-page-section {
  padding: 50px 0;
  border-bottom: 1px solid #BFC1C3;

  &:last-of-type {
    border-bottom: none;
  }

  h2, h3 {
    margin-top: 0;
    &.section-header {
      padding: 0 15px;
    }
    &.centered {
      text-align: center;
    }

  }
}

.masthead {
  background-color: #005EA5;
  color: #fff;
  max-width: 100%;

  h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }

  a.button.button-start {
    background: #fff;
    box-shadow: 0 2px 0 #003259;
    color: #005EA5;
    font-weight: bold;
    padding: 10px 25px 8px 20px;
  }
}

.org-logos {
  font-size: 0;
  margin-top: 40px;
  text-align: center;

  li {
    display: inline-block;
    margin: 20px 1%;
    width: 28%;
    height: 100px;
    @include media(tablet) {
      width: 14%;
    }

  }

  img {
    display: block;

    &.home-office {
      width: 100px;
    }

    &.fco {
      width: 115px;
    }

    &.dwp {
      width: 90px;
    }

    &.education {
      width: 95px;
    }

    &.moj {
      width: 75px;
    }
  }
}

.image-with-border {
  border: 2px solid $grey-3;
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 20px;
}

.typeahead__wrapper {
  width: 50%;
}

.filter-locations {
  border: 2px solid $grey-3;
  margin-bottom: 40px;
  padding: 20px;

  .heading-medium {
    margin-top: 0;
  }

  .bold-small {
    margin-bottom: 10px;
  }

  .button {
    margin-top: 20px;
  }
}

.logo {
  max-height: 100px;
  &.quote {
    margin-top: 20px;
  }
}

span.petitions {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-left: 5px;
}
