// Import GOV.UK frontend toolkit
@import "govuk-elements";
@import "location_page";

// Override table font size
table {
  margin-bottom: 20px;
}

table td,
table th {
  border-bottom: 1px solid $grey-3;
  font-size: 16px;
  padding: 15px 40px 15px 0;
  vertical-align: top;
}

thead tr th {
  border-bottom: 2px solid $grey-3;
  border-top: 2px solid $grey-3;
  color: $govuk-blue;
  font-weight: normal;
  text-decoration: underline;
  vertical-align: top;
}

details {
  margin: $gutter 0;
}

dl {
  overflow: hidden;

  dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-bottom: 1em;
    width: 35%;
  }

  dd {
    float: left;
    margin: 0;
    padding-bottom: 1em;
    width: 65%;
  }
}

blockquote {
  padding: 0 0 0 20px;
  margin: 0;
  border: 0;

  @include media(tablet) {
    margin: 0 0 0 -30px;
  }

  p {
    padding-left: 15px;

    @include media(tablet) {
      padding-left: 30px;
    }

    &:first-of-type:before {
      content: "\201C";
      float: left;
      clear: both;
      margin-left: -15px;
    }

    &:last-of-type:after {
      content: "\201D"
    }
  }

  cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin: -10px 0 20px 30px;
  }
}

strong {
  font-weight: bold;
}

.hide-for-small {
  display: none;

  @include media(tablet) {
    display: inherit;
  }
}

.hide-for-large {
  display: inherit;

   @include media(tablet) {
    display: none;
  }
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

img {
  max-width: 100%;
}

.image-right {
  @include media(tablet) {
    float: right;
  }
}

.image-with-border {
  border: 2px solid $grey-3;
}

.bulleted-list {
  list-style-type: disc;
  margin-bottom: 20px;
  padding-left: 20px;
}

.container {
  @extend %site-width-container;
}

.home-page #global-header-bar {
  display: none;
}

// pages styling
.product-page-section {
  padding: 50px 0;
  border-bottom: 1px solid $grey-2;

  &:last-of-type {
    border-bottom: none;
  }

  h2, h3 {
    margin-top: 0;

    &.section-header {
      padding: 0 15px;
    }
  }
}

.masthead {
  background-color: $govuk-blue;
  color: $white;
  max-width: 100%;

  h1 {
    margin-bottom: 10px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  a.button.button-start {
    background: $white;
    box-shadow: 0 2px 0 #003259;
    color: $govuk-blue;
    font-weight: bold;
    padding: 10px 25px 8px 20px;
  }
}

.org-logos {
  font-size: 0;
  margin-top: $gutter;
  text-align: center;

  li {
    display: inline-block;
    margin: 20px 1%;
    width: 28%;
    height: 100px;

    @include media(tablet) {
      width: 14%;
    }
  }
}

.typeahead__wrapper {
  width: 50%;
}

.logo {
  display: block;
  max-height: 100px;

  &.home-office {
    width: 100px;
  }

  &.fco {
    width: 115px;
  }

  &.dwp {
    width: 90px;
  }

  &.education {
    width: 95px;
  }

  &.moj {
    width: 75px;
  }
}
