// Import GOV.UK frontend toolkit
@import "govuk-elements";

// Override table font size
table td,
table th {
  font-size: 16px;
}

blockquote {
  @extend .panel;
  @extend .panel-border-wide;

  cite {
    display: block;
    margin-top: 20px;
  }
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

img {
  max-width: 100%;
}

.inline-link {
  background: none;
  border: none;
  color: $govuk-blue;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  vertical-align: top;
  -webkit-appearance: none;
}

.form-control.disabled {
  border-color: $grey-2;
  color: $grey-2;
}

table {
  margin-bottom: 20px;
}

#global-header-bar {
  display: none;
}

.container {
  @extend %site-width-container;
}

// pages styling
.product-page-section {
  padding: 50px 0;
  border-bottom: 1px solid #BFC1C3;

  &:last-of-type {
    border-bottom: none;
  }

  h2 {
    margin-top: 0;
    &.section-header {
      padding: 0 15px;
    }
    &.centered {
      text-align: center;
    }

  }

  h3 {
    margin-top: 0;
  }
}

.masthead {
  background-color: #005EA5;
  color: #fff;
  max-width: 100%;

  h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }

  a.button.button-start {
    background: #fff;
    box-shadow: 0 2px 0 #003259;
    color: #005EA5;
    font-weight: bold;
    padding: 10px 25px 8px 20px;
  }
}

.org-logos {
  font-size: 0;
  margin-top: 40px;
  text-align: center;

  li {
    display: inline-block;
    margin: 20px 1%;
    width: 28%;

    @include media(tablet) {
      width: 14%;
    }
  }

  img {
    display: block;
  }
}

.image-with-border {
  border: 2px solid $grey-3;
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 20px;
}

.typeahead__wrapper {
  width: 50%;
}

.filter-locations {
  border: 2px solid $grey-3;
  margin-bottom: 40px;
  padding: 20px;

  .heading-medium {
    margin-top: 0;
  }

  .bold-small {
    margin-bottom: 10px;
  }

  .button {
    margin-top: 20px;
  }
}
